<!-- Modulo Experiencia -->
<div class="container" id="module-experiencia">
    <div class="row" style="margin-right: 0; margin-left: 0;">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 imagen-x1 experiencia" style="padding-left:0;">
            <h2 class="text-center">
                <span>Experiencia</span>
                Descubra  Monserrat Apart Hotel</h2>
            <p class="text-center">Ubicado en el barrio de Monserrat en Buenos Aires, el Monserrat Apart Hotel se sitúa a 100 m de la Avenida 9 de Julio y a 5 minutos a pie de la estación Moreno de la línea C del metro, a 20 minutos a pie del Obelisco y la calle Peatonal Florida y a 25 minutos a pie de Puerto Madero y el Teatro </p>
            <p><a href="/search/Rooms/Details/3147">
                <button type="button" class="btn btn-secundario center-block">Experiencia</button>
            </a></p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 imagen-x1" style="background-image: url('http://media.staticontent.com/media/pictures/d06b9ea9-bfeb-493c-a5cc-97da3c46c84e/570x460');">
        </div>
    </div>
    <div class="row" style="margin-right: 0; margin-left: 0;">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 imagen-x1" style="background-image: url('http://media.staticontent.com/media/pictures/c12ef01b-9fd8-44a6-8cbb-5d04e71706e7/570x460');">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 imagen-x1" style="background-color:#fff;">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 imagen-x2" style="background-image: url('http://media.staticontent.com/media/pictures/62ba9e44-1429-4c31-b045-cb440703b999/570x460');">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 imagen-x2" style="background-image: url('http://media.staticontent.com/media/pictures/dbcc41e7-04e7-416a-8090-7d570ae5d744/570x460');">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- Modulo Amenities -->
                    <div class="row top-buffer">
                        <h4 class="text-center">Amenities de Monserrat Apart Hotel</h4>
                        <div class="col-md-12">
                            <div id="Carousel" class="carousel slide">

                                <ol class="carousel-indicators">
                                    <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#Carousel" data-slide-to="1"></li>
                                    <li data-target="#Carousel" data-slide-to="2"></li>
                                </ol>

                                <!-- Carousel items -->
                                <div class="carousel-inner">

                                    <div class="item active">
                                        <div class="row">
                                            <div class="col-md-3 col-xs-6 col-sm-3">
                                                <div class="icon-amenitie text-center center-block"><i class="fa fa-bookmark"></i></div>
                                                <h4 class="text-center">Heladera en Habitación</h4>
                                            </div>
                                            <div class="col-md-3 col-xs-6 col-sm-3">
                                                <div class="icon-amenitie text-center center-block"><i class="fa fa-bookmark"></i></div>
                                                <h4 class="text-center">Heladera en Habitación</h4>
                                            </div>
                                            <div class="col-md-3 col-xs-6 col-sm-3">
                                                <div class="icon-amenitie text-center center-block"><i class="fa fa-bookmark"></i></div>
                                                <h4 class="text-center">Heladera en Habitación</h4>
                                            </div>
                                            <div class="col-md-3 col-xs-6 col-sm-3">
                                                <div class="icon-amenitie text-center center-block"><i class="fa fa-bookmark"></i></div>
                                                <h4 class="text-center">Heladera en Habitación</h4>
                                            </div>
                                        </div><!--.row-->
                                    </div><!--.item-->

                                    <div class="item">
                                        <div class="row">
                                            <div class="col-md-3 col-xs-6 col-sm-3">
                                                <div class="icon-amenitie text-center center-block"><i class="fa fa-bookmark"></i></div>
                                                <h4 class="text-center">Heladera en Habitación</h4>
                                            </div>
                                            <div class="col-md-3 col-xs-6 col-sm-3">
                                                <div class="icon-amenitie text-center center-block"><i class="fa fa-bookmark"></i></div>
                                                <h4 class="text-center">Heladera en Habitación</h4>
                                            </div>
                                            <div class="col-md-3 col-xs-6 col-sm-3">
                                                <div class="icon-amenitie text-center center-block"><i class="fa fa-bookmark"></i></div>
                                                <h4 class="text-center">Heladera en Habitación</h4>
                                            </div>
                                            <div class="col-md-3 col-xs-6 col-sm-3">
                                                <div class="icon-amenitie text-center center-block"><i class="fa fa-bookmark"></i></div>
                                                <h4 class="text-center">Heladera en Habitación</h4>
                                            </div>
                                        </div><!--.row-->
                                    </div><!--.item-->


                                    <div class="item">
                                        <div class="row">
                                            <div class="col-md-3 col-xs-6 col-sm-3">
                                                <div class="icon-amenitie text-center center-block"><i class="fa fa-bookmark"></i></div>
                                                <h4 class="text-center">Heladera en Habitación</h4>
                                            </div>
                                            <div class="col-md-3 col-xs-6 col-sm-3">
                                                <div class="icon-amenitie text-center center-block"><i class="fa fa-bookmark"></i></div>
                                                <h4 class="text-center">Heladera en Habitación</h4>
                                            </div>
                                            <div class="col-md-3 col-xs-6 col-sm-3">
                                                <div class="icon-amenitie text-center center-block"><i class="fa fa-bookmark"></i></div>
                                                <h4 class="text-center">Heladera en Habitación</h4>
                                            </div>
                                            <div class="col-md-3 col-xs-6 col-sm-3">
                                                <div class="icon-amenitie text-center center-block"><i class="fa fa-bookmark"></i></div>
                                                <h4 class="text-center">Heladera en Habitación</h4>
                                            </div>
                                        </div><!--.row-->
                                    </div><!--.item-->
                                </div><!--.carousel-inner-->
                                <a data-slide="prev" href="#Carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                                <a data-slide="next" href="#Carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                            </div><!--.Carousel-->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>