<!-- Modulo Habitaciones -->

<div id="module-habitaciones" class="container top-buffer">
    <h3 class="text-center">Habitaciones destacadas</h3>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 home-room">
            <a class="img-room-cont" href="#.">
                <img src="http://media.staticontent.com/media/pictures/b95103dc-4d62-46f8-8af9-a7e8d0c4c01d/640x480" />
                <h3>Habitación Doble Estándar</h3>
            </a>
            <p>La habitación tiene Wi-Fi gratuito, TV LCD, hervidor de agua eléctrico y microondas, además de minibar y bañera. Permite un niño adicional de hasta 12 años en sofá cama con cargo adicional.</p>
            <p><a href="/search/Rooms/Details/3147">
                <button type="button" class="btn btn-secundario center-block">Ver detalle</button>
            </a></p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 home-room">
            <a class="img-room-cont" href="#.">
                <img src="http://media.staticontent.com/media/pictures/b95103dc-4d62-46f8-8af9-a7e8d0c4c01d/640x480" />
                <h3>Habitación Doble Estándar</h3>
            </a>
            <p>La habitación tiene Wi-Fi gratuito, TV LCD, hervidor de agua eléctrico y microondas, además de minibar y bañera. Permite un niño adicional de hasta 12 años en sofá cama con cargo adicional.</p>
            <p><a href="/search/Rooms/Details/3147">
                <button type="button" class="btn btn-secundario center-block">Ver detalle</button>
            </a></p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 home-room">
            <a class="img-room-cont" href="#.">
                <img src="http://media.staticontent.com/media/pictures/b95103dc-4d62-46f8-8af9-a7e8d0c4c01d/640x480" />
                <h3>Habitación Doble Estándar</h3>
            </a>
            <p>La habitación tiene Wi-Fi gratuito, TV LCD, hervidor de agua eléctrico y microondas, además de minibar y bañera. Permite un niño adicional de hasta 12 años en sofá cama con cargo adicional.</p>
            <p><a href="/search/Rooms/Details/3147">
                <button type="button" class="btn btn-secundario center-block">Ver detalle</button>
            </a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 home-room">
            <a class="img-room-cont" href="#.">
                <img src="http://media.staticontent.com/media/pictures/b95103dc-4d62-46f8-8af9-a7e8d0c4c01d/640x480" />
                <h3>Habitación Doble Estándar</h3>
            </a>
            <p>La habitación tiene Wi-Fi gratuito, TV LCD, hervidor de agua eléctrico y microondas, además de minibar y bañera. Permite un niño adicional de hasta 12 años en sofá cama con cargo adicional.</p>
            <p><a href="/search/Rooms/Details/3147">
                <button type="button" class="btn btn-secundario center-block">Ver detalle</button>
            </a></p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 home-room">
            <a class="img-room-cont" href="#.">
                <img src="http://media.staticontent.com/media/pictures/b95103dc-4d62-46f8-8af9-a7e8d0c4c01d/640x480" />
                <h3>Habitación Doble Estándar</h3>
            </a>
            <p>La habitación tiene Wi-Fi gratuito, TV LCD, hervidor de agua eléctrico y microondas, además de minibar y bañera. Permite un niño adicional de hasta 12 años en sofá cama con cargo adicional.</p>
            <p><a href="/search/Rooms/Details/3147">
                <button type="button" class="btn btn-secundario center-block">Ver detalle</button>
            </a></p>
        </div>
    </div>
</div>