
<!-- Modulo Hero -->
<div id="module-hero" class="container-fluid bg-info">
    <div class="shadow"></div>
    <div class="favorite-room hidden-xs">
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="./images/room1.jpeg" alt="..." style="width: 64px; height: 64px;">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Habitación Doble Estándar</h4>
                <a href=".">Ver mas información</a>
            </div>
            <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    </div>
    <div class="text-hero center-block vertical-center">
        <h1 class="text-center">LOREM IPSUM DOLOR SIT AMET</h1>
        <p class="text-center">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
    </div>
    <div id="search-box">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
            </div>
            <button type="submit" class="btn btn-default">Buscar Disponibilidad</button>
        </form>
    </div>
    <div id="tripa-badge" class="hidden-xs">
        <div id="TA_certificateOfExcellence538" class="TA_certificateOfExcellence">
            <ul id="EkLDx9R" class="TA_links XpwHxv1I">
                <li id="WnqIJTLAjxv6" class="oJnVu5PJC">
                    <a target="_blank" href="http://www.tripadvisor.com.ar"><img src="http://www.tripadvisor.com.ar/img/cdsi/img2/awards/CoE2014_WidgetAsset-14348-2.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"/></a>
                </li>
            </ul>
        </div>
        <script src="http://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=538&amp;locationId=1813061&amp;lang=es_AR&amp;year=2014&amp;display_version=2"></script>
    </div>
</div>
