.img-room-cont{width: 100%; height: 180px; display: block; overflow: hidden; position: relative;}
.img-room-cont>img{width: 100%;}
.img-room-cont>h3{ height: 40px; line-height: 30px; color: #fff; position: absolute; bottom: -10px; left: 0; font-size: 13px; background-color: rgba(0,0,0,0.5); width: 100%; padding: 5px 5px 5px;}
.home-room{margin-bottom: 20px;}
.home-room>p{background-color: #fff; width: 100%; padding: 20px 10px; font-size: 12px; line-height: 15px; margin: 0;}
.btn-secundario{ background-color: transparent; border: 3px solid; border-radius: 0; font-weight: 400; padding: 0 20px; font-size: 14px; line-height: 35px; text-transform: uppercase;}
.btn-secundario:hover, .btn:hover{ text-decoration: none !important;}

@media (max-width: 767px){
	
	#custom_carousel .controls li{
		display: block;
		width: 100%;
		max-width: 100%;
		border-bottom: 1px solid #fff;
	}
	#custom_carousel .item{
		height: 300px;
	}
		
}

